<a [routerLink]="['/']">
  <h1>Formulaire d'acceptation de mission</h1>
</a>


<div class="btn-group language" dropdown isAnimated=true placement="left">
  <button id="button-basic" dropdownToggle type="button" class="btn btn-primary"
          aria-controls="dropdown-basic">
          <i class="material-icons">language</i> <span class="caret"></span>
  </button>
  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
      role="menu" aria-labelledby="button-basic">
    <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
    </li>
  </ul>
</div>



<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->